{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  {% if error %}
      <div class="alert alert-danger" role="alert">
          {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
  {% endif %}

  <div class="content">
    <div class="login">
      <div class="left">
        <img src="{{ asset("img/logo.png") }}" alt="">
      </div>
      <div class="right">
        <h2>Connectez-vous !</h2>
        <form action="{{ path("fos_user_security_check") }}" method="post" class="login">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" />
          <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
          <button type="submit" id="_submit" name="_submit">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
{% endblock fos_user_content %}
